<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jake.chance_chain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:icon="@drawable/name3x"
            android:label=""
            android:logo="@drawable/name3x" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my" />
        <activity
            android:name=".InformationActivity"
            android:label="@string/title_activity_information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".settingActivity" />
        </activity>
        <activity
            android:name=".changeInformationActivity"
            android:label="@string/title_activity_change_information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".InformationActivity" />
        </activity>
        <activity android:name=".getPicActivity" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity
            android:name=".splashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="登录机会链" />
        <activity
            android:name=".signUpActivity"
            android:label="注册">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".forgotPassword"
            android:label="忘记密码">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".confirmUser"
            android:label="确认用户">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".signUpActivity" />
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="机会">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".sharingActivity" />
        <activity
            android:name=".fsizepic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settingActivity"
            android:label="设置">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MyActivity" />
        </activity>
        <activity
            android:name=".MessageActivity"/>
        <activity
            android:name=".HisActivity"
            android:label="他的主页">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity android:name=".chattingActivity" />
        <activity android:name=".liuyan"></activity>
    </application>

</manifest>